/*comentario*/
/*asterisco selector universal*/
*{
    text-align: center;
}

p { 
    color:red; 
    font-size: 25px;
    text-align: right;
}
h1 {
    background-color: cadetblue;
}

/*clase*/
/*la clase está pensada para que se repita*/
.naranja{
    color:orange;
    font-size: 18;
    font-style: italic;
}

.borde{
    border-style: solid;
    border-radius: 5px;
}

/*id*/
/*el id está pensado para que no se repita, algo puntual*/
#especial{
    font-size: 15px;
}

